*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/dump
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/html/*
/coverage/
/spec/tmp/*
solr/data/*
solr/pids/*
**.orig
rerun.txt
pickle-email-*.html
