<%= render 'layouts/slide' %>

<div class="container-inner">
  <div class="tabbable tabs-below">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Premier Leage</a></li>
      <li><a href="#tab2" data-toggle="tab">La Liga</a></li>
    </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <ul class="thumbnails">
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/230x180">
              </a>
              <h5>Manchester United 3 - 2 Manchester City</h5>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/230x180">
              </a>
              <h4>Thumbnail label</h4>
            </li>
            <li class="span3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/230x180">
              </a>
              <h4>Thumbnail label</h4>
            </li>
          </ul>
          <a href="#" class="pull-right">See All</a>
        </div>
        <div class="tab-pane" id="tab2">
          <p>Howdy, I'm in Section 2.</p>
        </div>
      </div>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab3" data-toggle="tab">Manchester United</a></li>
      <li><a href="#tab4" data-toggle="tab">Real Madrid</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab3">
        <ul class="thumbnails">
          <li class="span3">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/230x180">
            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/230x180">
            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/230x180">
            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/230x180">
            </a>
          </li>
        </ul>
        <a href="#" class="pull-right">See All</a>
      </div>
      <div class="tab-pane" id="tab4">
        <p>Howdy, I'm in Section 2.</p>
      </div>
    </div>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab3" data-toggle="tab">Manchester United</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab3">
        <div id="slides_two">
          <div class="slides_container">
            <div>
              <ul class="thumbnails">
                <li class="span3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/230x180">
                  </a>
                </li>
                <li class="span3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/230x180">
                  </a>
                </li>
            </div>
            <div>
              <ul class="thumbnails">
                <li class="span3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/230x180">
                  </a>
                </li>
            </div>
          </div>
          <a href="#" class="prev"></a>
          <a href="#" class="next"></a>
        </div>
      </div>

    </div>
  </div>
</div>