body{
  background: url("/assets/img/body-bg.png") repeat 0 0;
  padding-top: 50px;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

section.container {
  padding-top: 20px;
}

.container-inner{
  padding-top: 40px;
}

.navbar-inverse .brand{
  color: white;
}

textarea {
  resize: vertical;
}

#slides_four .slides_container {
  width:940px;
  height:350px;
}

#slides_five .slides_container {
  width:940px;
  height:360px;
}

#slides_five .slides_container div {
  width:940px;
  height:360px;
  display:block;
}

#slides_four .slides_container div {
  width:940px;
  height:350px;
  display:block;
}

footer {
  border-top: 1px solid #DDD;
  background: url("/assets/img/bg.png") repeat scroll 0 0 #EEE;
  padding: 35px 0;
  margin-top: 35px;
}

/*
  Next/prev buttons
*/

#slides_five, #slides_four {
  .next{
    background: url("/assets/img/play_icon.png");
    background-repeat: no-repeat;
    background-position: 0 -199px;
  }
}

#slides_five, #slides_four {
  .prev{
    background: url("/assets/img/play_icon.png");
    background-repeat: no-repeat;
    background-position: 0 -259px;
  }
}

#slides_five .next,#slides_five .prev {
  position:absolute;
  top:1130px;
  left:44px;
  display:block;
  z-index:101;
  height: 35px;
  width: 20px;
}

#slides_four .next,#slides_four .prev {
  position:absolute;
  top:710px;
  left:44px;
  display:block;
  z-index:101;
  height: 35px;
  width: 20px;
}

#slides_four .next, #slides_five .next {
  left:1135px;
}

/*
  Pagination
*/

#slides .pagination {
  margin:26px auto 0;
  width:100px;
}

#slides .pagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

#slides .pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url('/assets/img/pagination.png');
  background-position:0 0;
  float:left;
  overflow:hidden;
}

#slides .pagination li.current a {
  background-position:0 -12px;
}

#search-bar-divider {
  margin-right: 2px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 35px;
  clear: both;
}

#search-summary{
  a{
    float: right;
    padding-top: 22px;
    padding-left: 603px;
  }
  h2{
    float: left;
  }
}

#advance-search{
  float: right;
}

.link_header{
  font-weight: 200;
  font-family: "Flama",Helvetica,Arial,Verdana,sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  color: #999;
}

a:hover.link_header{
  text-decoration: none;
  color: #6A3;
}

div.play-hover-button.small {
  position:absolute;
  background-repeat: no-repeat;
  background-position: 0 -444px;
  height: 40px;
  width: 40px;
  background: url("/assets/img/small_icon.png") no-repeat;
}

.dropdown-toggle {
  text-transform: uppercase;
}

div.description{
  position: relative;
  bottom: 27px;
  left: 0;
  width: 100%;
  padding: 0 0 6px 10px;
  color: white;
  z-index: 0;
}

.form-horizontal .controls {
  margin-left: 118px;
}

.form-horizontal .control-label {
  float: left;
  width: 80px;
  padding-top: 5px;
  text-align: right;
}