html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

section.container {
  padding-top: 20px;
}

.container-inner{
  padding-top: 40px;
}

.navbar-inner{
  background: transparent;
}

.input-wrapper {
  width: 212px;
  height: 24px;
  padding: 3px 0 4px 14px;
  background: url("/assets/img/input.png") no-repeat 0 0px;
}

textarea {
  resize: vertical;
}

.slides_container {
  width:1200px;
  height:450px;
}

.slides_container div {
  width:1200px;
  height:450px;
  display:block;
}

#slides_four .slides_container {
  width:940px;
  height:400px;
}

#slides_four .slides_container div {
  width:940px;
  height:400px;
  display:block;
}

/*
  Next/prev buttons
*/

#slides, #slides_two, #slides_four {
  .next{
    background: url("/assets/img/play_icon.png");
    background-repeat: no-repeat;
    background-position: 0 -199px;
  }
}


#slides, #slides_two, #slides_four {
   .prev{
    background: url("/assets/img/play_icon.png");
    background-repeat: no-repeat;
    background-position: 0 -259px;
  }
}

#slides_two .next,#slides_two .prev {
  position:absolute;
  top:1270px;
  left:51px;
  display:block;
  z-index:101;
  height: 35px;
  width: 20px;
}

#slides .next,#slides .prev {
  position:absolute;
  top:220px;
  left:51px;
  display:block;
  z-index:101;
  height: 35px;
  width: 20px;
}

#slides_four .next,#slides_four .prev {
  position:absolute;
  top:710px;
  left:51px;
  display:block;
  z-index:101;
  height: 35px;
  width: 20px;
}

#slides_two .next {
  left:1120px;
}

#slides .next, #slides_four .next {
  left:1120px;
}

/*
  Pagination
*/

#slides .pagination {
  margin:26px auto 0;
  width:100px;
}

#slides .pagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

#slides .pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url('/assets/img/pagination.png');
  background-position:0 0;
  float:left;
  overflow:hidden;
}

#slides .pagination li.current a {
  background-position:0 -12px;
}

#search-bar-divider {
  margin-right: 2px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid white;
}

.search-results {
  padding-top: 40px;
}

.link_header{
  font-weight: 200;
  font-family: "Flama",Helvetica,Arial,Verdana,sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  color: #999;
}

a:hover.link_header{
  text-decoration: none;
  color: #6A3;
}