body {
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

section.container {
  padding-top: 20px;
}

.container-inner{
  padding-top: 40px;
}

.navbar-inner{
  background: transparent;
}

.input-wrapper {
  width: 212px;
  height: 24px;
  padding: 3px 0 4px 14px;
  background: url("/assets/img/input.png") no-repeat 0 0px;
}

.thumbnail {
  border: 1px solid white;
}

a.thumbnail:hover {
  border-color: white;
}

textarea {
  resize: vertical;
}

.slides_container {
  width:1200px;
  height:450px;
}

.slides_container div {
  width:1200px;
  height:450px;
  display:block;
}

#slides_four .slides_container {
  width:940px;
  height:350px;
}

#slides_five .slides_container {
  width:940px;
  height:350px;
}

#slides_five .slides_container div {
  width:940px;
  height:350px;
  display:block;
}

#slides_four .slides_container div {
  width:940px;
  height:350px;
  display:block;
}

/*
  Next/prev buttons
*/

#slides_five, #slides_four {
  .next:hover{
    background-repeat: no-repeat;
    background-position: 0 -321px;
    height: 64px;
    width: 64px;
  }
}

#slides_five, #slides_four {
  .prev:hover{
    background-repeat: no-repeat;
    background-position: 0 -38px;
    height: 64px;
    width: 64px;
  }
}


#slides {
  .next{
    background: url("/assets/img/play_icon.png");
    background-repeat: no-repeat;
    background-position: 0 -199px;
  }
}

#slides {
  .prev{
    background: url("/assets/img/play_icon.png");
    background-repeat: no-repeat;
    background-position: 0 -259px;
  }
}

#slides_five, #slides_four {
  .next{
    background: url("/assets/img/arrow.png");
    background-repeat: no-repeat;
    background-position: 0 -519px;
  }
}

#slides_five, #slides_four {
   .prev{
    background: url("/assets/img/arrow.png");
    background-repeat: no-repeat;
    background-position: 0 -170px;
  }
}

#slides_five .next,#slides_five .prev {
  position:absolute;
  top:1130px;
  left:4px;
  display:block;
  z-index:101;
  height: 64px;
  width: 64px;
}

#slides .next,#slides .prev {
  position:absolute;
  top:190px;
  left:24px;
  display:block;
  z-index:101;
  height: 35px;
  width: 20px;
}

#slides_four .next,#slides_four .prev {
  position:absolute;
  top:710px;
  left:4px;
  display:block;
  z-index:101;
  height: 64px;
  width: 64px;
}

#slides .next, #slides_four .next, #slides_five .next {
  left:1135px;
}

/*
  Pagination
*/

#slides .pagination {
  margin:26px auto 0;
  width:100px;
}

#slides .pagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

#slides .pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url('/assets/img/pagination.png');
  background-position:0 0;
  float:left;
  overflow:hidden;
}

#slides .pagination li.current a {
  background-position:0 -12px;
}

#search-bar-divider {
  margin-right: 2px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid white;
}

.search-results {
  padding-top: 40px;
}

.link_header{
  font-weight: 200;
  font-family: "Flama",Helvetica,Arial,Verdana,sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  color: #999;
}

a:hover.link_header{
  text-decoration: none;
  color: #6A3;
}

div.play-hover-button.small {
  position:absolute;
  background-repeat: no-repeat;
  background-position: 0 -444px;
  height: 40px;
  width: 40px;
  background: url("/assets/img/small_icon.png") no-repeat;
}

.navbar-inner{
  border: none;
  box-shadow: none;
  background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.2),transparent);
}

.navbar .brand{
  color: white;
}

.navbar .nav > li > a{
  color: white;
}

.navbar .nav > li > a:hover{
  color: #6A3;
}

.dropdown-toggle {
  text-transform: uppercase;
}

div.description{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0 6px 10px;
  color: white;
  z-index: 0;
}
