<% for i in 1..4 do %>
  <div>
    <ul class="thumbnails">
      <% videos.slice(8*(i - 1), 8).each do |video| %>
        <li class="span3">
          <a href="<%= video.youtube_url %>" class="youtube_link thumbnail">
            <img src="<%= video.thumb_url %>">
            <div class="video-caption">
              <h5><%= video.movie.title %></h5>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
