<div id="slides">
  <div class="slides_container">
      <div>
          <img src="http://placehold.it/1200x400">
      </div>
      <div>
          <img src="http://placehold.it/940x400">
      </div>
      <div>
          <img src="http://placehold.it/940x400">
      </div>
      <div>
          <img src="http://placehold.it/940x400">
      </div>
  </div>
  <a href="#" class="prev"></a>
  <a href="#" class="next"></a>
</div>