<div id="slides">
  <div class="slides_container">
      <div>
          <img src="http://lorempixel.com/1200/450">
      </div>
      <div>
          <img src="http://lorempixel.com/1200/450">
      </div>
      <div>
          <img src="http://lorempixel.com/1200/450">
      </div>
      <div>
          <img src="http://lorempixel.com/1200/450">
      </div>
  </div>
  <a href="#" class="prev"></a>
  <a href="#" class="next"></a>
</div>