<% for i in 1..4 do %>
  <div>
    <ul class="thumbnails">
      <% videos.slice(8*(i - 1), 8).each do |video| %>
        <li class="span3">
          <a href="<%= video_path(video) %>" class="thumbnail">
            <img src="<%= video.thumb_url %>">
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>