<% for i in 1..4 do %>
  <div>
    <ul class="thumbnails">
      <% videos.slice(8*(i - 1), 8).each do |video| %>
        <li class="span3">
          <% title = video.movie.title + "(" + video.movie.year.to_s + ")"
             description = video.description %>
          <a href="<%= video.youtube_url %>" class="youtube_link thumbnail" >
            <img src="<%= video.thumb_url %>" >
            <span><%= video.movie.get_title %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
