<div id="slides">
  <div class="slides_container">
    <div>
        <img src="/assets/img/123.jpg">
    </div>
    <div>
        <img src="/assets/img/1234.jpg">
    </div>
    <div>
        <img src="http://placehold.it/1600x600">
    </div>
    <div>
        <img src="http://placehold.it/1600x600">
    </div>
  </div>
  <a href="#" class="prev"><img src="img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
  <a href="#" class="next"><img src="img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
</div>