<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="/assets/img/avenger.jpg">
      <div class="carousel-caption">
        <h4>Thor(2011)</h4>
        <p>The powerful but arrogant warrior Thor is cast out of the fantastic realm of Asgard and sent to live amongst humans on Earth, where he soon becomes one of their finest defenders..</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/img/iron_man.jpg">
      <div class="carousel-caption">
        <h4>Iron Man</h4>
        <p>When wealthy industrialist Tony Stark is forced to build an armored suit after a life-threatening incident, he ultimately decides to use its technology to fight against evil</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/img/spider_man.jpg">
      <div class="carousel-caption">
        <h4>The Amazing Spider Man</h4>
        <p>Peter Parker finds a clue that might help him understand why his parents disappeared when he was young. His path puts him on a collision course with Dr. Curt Connors, his father's former partner</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/img/avenger2.jpg">
      <div class="carousel-caption">
        <h4>The Avengers</h4>
        <p>Nick Fury of S.H.I.E.L.D. brings together a team of super humans to form The Avengers to help save the Earth from Loki and his army.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>